.popup__container_image {
  width: fit-content;
  max-width: 75vw;
  padding: 0;
  position: relative;
  align-self: center;
}

@media screen and (min-width: 320px) and (max-width: 539px) {
  .popup__container_image {
    margin-left: 19px;
    margin-right: 19px;
  }
}