.switcher__button {
  display: flex;
  flex-direction: row;
  width: 36px;
  height: 20px;
  border: 0;
  background: #ebebeb;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 0;
}

.switcher__button::after {
  content: "";
  background:  #f5f5f5;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 1
}
