.footer__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
  margin: 0 0px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer__bottom {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer__bottom {
    margin-left: 0px;
    margin-right: 0px;
  }
}
