.movie-card__image {
  min-width: 270px;
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .movie-card__image {
    min-width: 300px;
    min-height: 168px;
    height: auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .movie-card__image {
    min-width: 339px;
    min-height: 190px;
    height: auto;
  }
}
