.progressbar {
  height: 36px;
  background: #f2f2f2;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .progressbar {
    margin-bottom: 93px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .progressbar {

  }
}