html {
  --background: #fafafa;
  --background-container: #fff;
  --background-board: #fff;
  --color: #000;
  --color-link: #000;
  --background-profile-button: #fff;
  /* --border-color: #5a5a5a; */
  --border-color: #bfbfbf;
  --background-card: #fff;
  --background-cards: #f4f4f4;
}

html[data-theme='dark'] {
  --background: #161616;
  --background-container: #202124;
  --background-board: #222222;
  --color: #d6d6d6;
  --color-link: #bfbfbf;
  --background-profile-button: #bfbfbf;
  --border-color: #5a5a5a;
  --background-card: #323232;
  --background-cards: #222222;
}

.root {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh;
  height: 100%; */
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  font-family: 'Inter','Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  color: var(--color);
  --title-size: 22px;
  --background: #fafafa;

  --header-background: #ffffff;
  --card-background: #ffffff;
  --techs-background: #f5f5f5;;
  --promo-tab-background: #e8e8e8;
  --promo-cover-background: #f5f5f5;
  --promo-signin-button-bg: #3456f3;
  --promo-signup-button: #000000;
  --promo-signin-button: #ffffff;
  --promo-title: #000000;
  --promo-rogressbar-left-bg: #3456f3;
  --card-list-background: #f5f5f5;;
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .root {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 580px) and (max-width: 879px) {
  .root {
    padding-left: 30px;
    padding-right: 30px;
  }
}
