.inbox__input {
  background-color: #F4F4F4;
  border: 1px solid #F4F4F4;
  border-radius: 4px;
  width: 100%;
  height: 38px;
  margin: 5px 0 0;
  padding: 0 10px;
  box-sizing: border-box;
}

.inbox__input_150 {
  max-width: 150px;
  text-align: center;
}

.inbox__input_110 {
  max-width: 110px;
  text-align: center;
}

.inbox__input_120 {
  max-width: 120px;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .inbox__input {

  }
}

@media screen and (min-width: 580px) and (max-width: 879px) {
  .inbox__input {

  }
}
