.error__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #3456f3;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 60px;
  left: calc(50vw - 21px);
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .error__link {
    font-size: 12px;
    line-height: 15px;
    bottom: 60px;
  }
}

@media screen and (min-width: 580px) and (max-width: 879px) {
  .error__link {

  }
}
