.profile-button__label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  text-decoration: none;
  color: #222222;
  margin: 0 7px 0 11px;
  padding: 0;
  display: flex;
  align-self: center;
}
