.error__code {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  color: var(--color);
  width: 400px;
  height: 169px;
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .error__code {
    width: 300px;
    height: 97px;
    font-size: 80px;
    line-height: 97px;
  }
}

@media screen and (min-width: 580px) and (max-width: 879px) {
  .error__code {

  }
}
