.header {
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
  height: 74px;
  width: auto;
  margin: 0;
  padding: 0;
  z-index: 1000;
  top: 0;
  left: 0;
  justify-content: space-between;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .header {
    padding: 0 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .header {

  }
}
